---
import { getEntry } from "astro:content"; 
import { marked } from "marked";
import { Icon } from "astro-icon";
import { t } from "@util/translate";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

 

---

<footer class="surface-footer relative grid">
  <div
    class="container-xl mx-auto flex flex-col justify-between pb-5 pt-10 lg:flex-row lg:space-y-0"
  >
    <div
      class="flex flex-col items-center pb-8 text-center lg:w-1/3 lg:items-start lg:text-left"
    >
    <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}>
      <h1 style="font-family: LOVELO;" class="   md:text-left lg:text-4xl u-text ">
      <span >FRENCH</span>  <span >TACOS</span>
    </h1>
    </a>
      {
        about.data.footer_text && (
          <div
            class="balance pr-4 pt-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>
    <div class="grid w-full lg:w-2/3">
      <div
        class="flex-wrap justify-center gap-8 text-center sm:flex sm:justify-between sm:text-left"
      >
        {
          navigation.data.footer_menus &&
            navigation.data.footer_menus.map((menu) => (
              <div class="min-w-[12rem] space-y-3 sm:max-w-[14rem]">
                <h3 class="font-semibold uppercase">{menu.label}</h3>
                <ul class="space-y-1">
                  {menu.links.map((link) => (
                    <li>
                      <a
                        rel="noopener noreferrer"
                        href={link.href}
                        class="link-underline"
                      >
                        {link.label}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
        }
        <div class="min-w-[12rem] space-y-3 sm:max-w-[14rem]">
          <div class="font-semibold uppercase">{t("MAP")}</div>
          <div class="flex flex-col">
            <a href="https://www.google.com/maps/dir//Vauxhall+Food+%26+Beer+Garden,+6a+S+Lambeth+Pl,+London+SW8+1SP,+Royaume-Uni/@51.4855983,-0.205979,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x487605bec625538b:0xd90466c7efc67037!2m2!1d-0.1235788!2d51.4856272?entry=ttu">FIND US </a>
          </div>
        </div>

        
      </div>
    </div>
  </div>

  
  <div class="relative w-full overflow-hidden">
    <div class="attribution container-xl grid place-items-start">
      
        <sup class="pointer-events-none pt-2 opacity-60">powered by</sup>
       
      
    </div>
  </div>
  

  <!-- ✌️✌️ Thanks!✌️✌️ -->
</footer>
<style></style>
<style>
  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .u-text {
     font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    background-image: linear-gradient(to right, #3498db, #00f7ff); /* Adjust the gradient colors */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flicker 1s infinite; /* Adjust the duration as needed */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add a subtle text*/
  }
  
  
  
   </style>
